h1 {
  color: red;
}

.accordion-group {
  font-size: 0.9rem;
  margin: 10px 0px;
}

.accordion-group .MuiTypography-root {
  font-size: inherit;
}

.Checkbox-content-root {
  min-width: 90px;
}

.layer-metadata,
.layer-order-layers {
  display: inline-block;
}

.MuiAccordionSummary-content {
  padding-left: 10px;
}

.MuiAccordion-root {
  background-color: #005fcb52;
}

.MuiAccordion-root.accordion-theme  {
  background-color: #0088cb78;
}

.accordion-theme ul {
  cursor: pointer;
}
.accordion-theme.MuiAccordion-root {
  box-shadow: none;
}

.need-help {
  background-color: #e4b152;
}

.help-text {
  font-size: smaller;
  padding: 0px 10px;
}

.loading-spinner-container {
  position: absolute;
  top: 40px;
  right: 40px;
}

.loading-spinner-container .loading-spinner .MuiCircularProgress-root {
  width: 60px !important;
  height: 60px !important;
}

.loading-collections .MuiCircularProgress-root {
  color: rgba(0, 95, 203, 0.666);
}

.SnackbarItem-contentRoot:not(.SnackbarItem-variantError):not(.SnackbarItem-variantWarning):not(.SnackbarItem-variantInfo):not(.SnackbarItem-variantSuccess) {
  background-color: #e4b152 !important;
}

.layer-order-layers.loading {
  cursor: default;
  opacity: 0.4;
}
.layer-order-layers.loading a {
  pointer-events: none;
}

.is-debug {
  background-color: red;
}
