.czs-panel {
  position: relative;
}

.accordion-group {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.accordion-group .MuiTypography-root {
  font-size: inherit;
}

.layer-option {
  position: relative;
  display: inline-block;
}
.layer-order-layers div {
  display: inline-block;
}

.MuiAccordionSummary-content {
  padding-left: 10px;
}

.MuiAccordion-root {
  background-color: #005fcb52;
}

.MuiButton-root {
  border: 1px solid;
  margin: 20px 0px;
  padding: 0px;
}

.MuiPaper-root.MuiMenu-paper {
  background-color: #a1cdff;
}

.SnackbarItem-contentRoot:not(.SnackbarItem-variantError):not(.SnackbarItem-variantWarning):not(.SnackbarItem-variantInfo):not(.SnackbarItem-variantSuccess) {
  background-color: #e4b152 !important;
}

.czs-panel .MuiListItem-root,
.czs-panel .MuiListItem-root:hover,
.MuiMenuItem-root.MuiMenuItem-gutters {
  color: black;
}

.accordion-theme ul {
  cursor: pointer;
}

.loading-spinner-container {
  position: absolute;
  top: 40px;
  right: 40px;
}

.loading-spinner-container .loading-spinner .MuiCircularProgress-root {
  width: 60px !important;
  height: 60px !important;
}

.loading-collections .MuiCircularProgress-root {
  color: rgba(0, 95, 203, 0.666);
}

.layer-order-layers.loading {
  cursor: default;
  opacity: 0.4;
}
.layer-order-layers.loading a {
  pointer-events: none;
}

.layer-options-wrapper {
  min-width: 100px;
}

.layer-option {
  vertical-align: middle;
}

.layer-option .MuiListItemIcon-root {
  min-width: inherit;
}

.layer-option img,
.czs_menu_options img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: 0px 5px 0px 5px;
}

.czs-jobs {
  position: relative;
  margin: 20px 0px;
}

.czs-jobs a {
  color: inherit;
  font-size: 1rem;
}

.czs-jobs table {
  width: 100%;
}

.czs-jobs-cell-info a {
  text-decoration: none;
}
.czs-jobs-cell-info a:hover {
  text-decoration: underline;
}

.czs-jobs-cell-progress {
  width: 100px;
}

.czs-jobs-cell-spin {
  width: 20px;
  text-align: right;
}
.czs-jobs-cell-spin img {
  vertical-align: middle;
}

.czs-jobs .loading-spinner {
  position: relative;
  right: 0px;
  background-color: transparent;
}

.czs-jobs .loading-spinner .MuiCircularProgress-root  {
  position: relative;
  height: 20px !important;
  width: 20px !important;
}

.czs-jobs .job-dismissed:hover {
  text-decoration: none;
}

.czs-email input,
.czs-out_crs input {
  padding: 10px 10px;
  font-size: 1rem;
}

.need-help,
.feedback-help {
  background-color: #e4b152;
}

.help-text,
.feedback-text {
  font-size: smaller;
  padding: 0px 10px;
}

.is-debug {
  background-color: red;
}
